
#header_title{
	margin-left:15%;
	margin-right:15%;
	margin-top:4%;
	text-align:center;
	}

#header_title_text{
	text-align:center;
}

#header_title_line{
	text-align:center;
	margin-left:43%;
	margin-right:43%;
	background-color:#1782fc;
	height:5px;
	border-radius: 5px;
}

#main_que_ans{
	margin-top:4%;
	text-align:center;
	margin-bottom:5%;
}

#que_ans{
	text-align:left;
}

#que_ans_link{
	margin-top:2%;
	text-decoration:none;
	color:black;
}

#que_ans_ans{
	margin-top:2%;
}

.question_color{
	color:#1782fc;
}




